.container {
    max-width: 720px;
    margin: 20px auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;

    h1 {
        color: var(--white);
    }

    .form {
        display: flex;
        flex-direction: column;
        margin: 16px 0;
    }

    .labelImage {
        width: 100%;
        height: 280px;
        position: relative;
    }


}